.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.dialog {
  background: #fff;
  padding: 20px 25px;
  border-radius: 8px;
  min-width: 300px;

  box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

/* Add Button */
.btn-add {
  background: #2ecc71;
  color: white;
}

.btn-add:hover {
  background: #27ae60;
}

/* Delete Button */
.btn-delete{
  background: #e74c3c;
  color: white;
}

.btn-delete:hover {
  background: #c0392b;
}
