<h2>Product Manager</h2>

<!-- Input -->
<input
  type="text"
  [ngModel]="productCode"
  (ngModelChange)="onCodeInput($event)"
  placeholder="ABCDE-12345-XXXXX-XXXXX-XXXXX-XXXXX"
  maxlength="35"
/>

<button class="btn-add" (click)="addProduct()">Add</button>

<p style="color:red">{{ error }}</p>

<hr>

<!-- Table -->
<table border="1" width="100%">
  <tr>
    <th>ID</th>
    <th>Code</th>
    <th>View</th>
    <th>Delete</th>
  </tr>

  @for (p of products; track p.id) {
  <tr>
    <td>{{ p.id }}</td>
    <td>{{ formatCode(p.productCode) }}</td>
    <td>
      <button class="btn-qr" (click)="openQr(p.productCode)">QR</button>
    </td>
    <td>
        <button class="btn-delete"(click)="askDelete(p.id, p.productCode)">Delete</button>
    </td>
  </tr>
}
</table>

<app-qr-dialog
  [value]="qrValue"
  [visible]="showQr"
  (close)="closeQr()">
</app-qr-dialog>

<app-confirm-dialog
  *ngIf="showConfirm"
  title="Confirm Delete"
  [message]="'ต้องการลบ ' + deleteCode + ' ใช่หรือไม่?'"

  (confirm)="onConfirm()"
  (cancel)="onCancel()">
</app-confirm-dialog>


